body{
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(300deg, #000FFFFF 0%, #FF0000FF 96%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#main{
    height: 70vh;
    width: 80vw;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(275deg, #ec5143 22%, #073AFFFF 100%);
    display: flex;
    }

#container{
    margin-left: 50px;
    width: 500px;
    color:white;
    font-size: large;
}

img{
    width:600px;
    height: 300px;
}
.container-2{
    width: 100vh;
    display: flex;
    flex-direction: column;
}
.shoe{
    padding-left: 250px;
    height:50%;
    width: 50%;
}

img:hover{
    width: 600px;
    height: 600px;
}
